@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-style: normal;
	font-weight: 500;
	/* prettier-ignore */
	src:
		url('/assets/fonts/PPNeueMontreal/PPNeueMontreal-Medium.woff2') format('woff2'),
		url('/assets/fonts/PPNeueMontreal/PPNeueMontreal-Medium.woff') format('woff'),
		url('/assets/fonts/PPNeueMontreal/PPNeueMontreal-Medium.otf') format('opentype');
	font-family: 'PPNeueMontreal';
	font-display: swap;
}

html {
	@apply m-0 select-none p-0 text-root;
}

html,
body {
	@apply fixed inset-0 bg-white-x2 text-black-x1;
}

body {
	@apply p-10 font-sans text-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply uppercase;
}

a:hover {
	@apply underline;
}

.font-title {
	@apply font-sans text-display-title font-medium uppercase;
}

.font-subtitle {
	@apply font-sans text-display-subtitle font-medium uppercase;
}

.font-heading-01 {
	@apply font-sans text-heading-01 font-medium uppercase;
}

.font-heading-02 {
	@apply font-sans text-heading-02 font-medium uppercase;
}

.font-heading-03 {
	@apply font-sans text-heading-03 font-medium uppercase;
}

.font-heading-04 {
	@apply font-sans text-heading-04 font-medium uppercase;
}

.font-caption-01 {
	@apply font-sans text-caption-01 font-medium uppercase;
}

.font-caption-02 {
	@apply font-sans text-caption-02 font-medium uppercase;
}
