@import 'tailwindcss';
@import 'tailwindcss/preflight';

@theme {
	--font-sans: 'PPNeueMontreal', 'Inter var', 'Arial', sans-serif;
	--font-mono: 'PPSupplyMono', 'Menlo', monospace;

	--text-root: 10px;
	--text-display-title: 16rem;
	--text-display-subtitle: 4.8rem;
	--text-heading-01: 7.6rem;
	--text-heading-02: 4rem;
	--text-heading-03: 2.4rem;
	--text-heading-04: 1.8rem;
	--text-body: 1.2rem;
	--text-sm: 1rem;
	--text-xs: 0.9rem;

	--font-weight-default: 500;

	--tracking-default: 0;

	--color-transparent: transparent;
	--color-current: currentColor;
	--color-black-x1: #000000;
	--color-black-x2: #080808;
	--color-white-x1: #ffffff;
	--color-white-x2: #fafafa;
	--color-white-x3: #f5f5f5;

	--aspect-wide-full: 4 / 1;
	--aspect-wide-half: 2 / 1;
	--aspect-square: 1 / 1;

	--breakpoint-3xl: 2160px;
}

@tailwind utilities;

*::-webkit-scrollbar {
	display: none;
}

* {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

@font-face {
	font-style: normal;
	font-weight: 500;
	/* prettier-ignore */
	src:
		url('/assets/fonts/PPNeueMontreal/PPNeueMontreal-Medium.woff2') format('woff2'),
		url('/assets/fonts/PPNeueMontreal/PPNeueMontreal-Medium.woff') format('woff'),
		url('/assets/fonts/PPNeueMontreal/PPNeueMontreal-Medium.otf') format('opentype');
	font-family: 'PPNeueMontreal';
	font-display: swap;
}

html {
	@apply m-0 p-0;
	@apply text-root select-none;
}

html,
body {
	@apply fixed inset-0;
	@apply bg-white-x1 text-black-x1;
}

/* Dark Mode (optional) */
@media (prefers-color-scheme: dark) {
	html,
	body {
		@apply bg-white-x1 text-black-x1;
	}
}

body {
	@apply p-2;
	@apply font-sans text-sm antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	@apply leading-none;
}

a:hover {
	@apply underline opacity-50;
}

.animated {
	opacity: 0;
}

/* Typography */
.font-title {
	@apply text-display-title font-sans;
}

.font-subtitle {
	@apply text-display-subtitle font-sans;
}

.font-heading-01 {
	@apply text-heading-01 font-sans;
}

.font-heading-02 {
	@apply text-heading-02 font-sans;
}

.font-heading-03 {
	@apply text-heading-03 font-sans;
}

.font-heading-04 {
	@apply text-heading-04 font-sans;
}

.font-caption-01 {
	@apply font-sans text-sm;
}

.font-caption-02 {
	@apply font-sans text-xs;
}

.font-title,
.font-subtitle,
.font-heading-01,
.font-heading-02,
.font-heading-03,
.font-heading-04,
.font-caption-01,
.font-caption-02 {
	@apply font-default tracking-default uppercase;
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.2;
	animation: animateGrain 5s steps(10) infinite;
	background-image: url('https://cdn.u29dc.com/_noise.webp'), url('/assets/images/_noise.webp');
	width: 200%;
	height: 200%;
	pointer-events: none;
}

@keyframes animateGrain {
	0% {
		transform: translate(0, 0);
	}
	10% {
		transform: translate(-5%, -10%);
	}
	20% {
		transform: translate(-15%, 0);
	}
	30% {
		transform: translate(-5%, -10%);
	}
	40% {
		transform: translate(-15%, 0);
	}
	50% {
		transform: translate(-5%, -10%);
	}
	60% {
		transform: translate(-15%, 0);
	}
	70% {
		transform: translate(-5%, -10%);
	}
	80% {
		transform: translate(-15%, 0);
	}
	90% {
		transform: translate(-5%, -10%);
	}
	100% {
		transform: translate(0, 0);
	}
}
